.swal-confirm-btn {
  background-color: #3085d6; /*'Yes' */
  border-color: #3085d6;
}

.swal-cancel-btn {
  background-color: rgb(255, 118, 118); /*'No' */
  border-color:  rgb(255, 118, 118);
}


.swal-confirm-btn:hover {
  background-color: #357abd; /*  */
  border-color: #357abd;
}

.swal-cancel-btn:hover {
  background-color: #c9524d; /* Darker red for hover */
  border-color: #c9524d;
}

